n8n_workflows/Slack_Notification_Template.json
{
  "name": "GrowthOps Slack Notifications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "growthops-events",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "growthops-events"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.event_type }}",
        "rules": {
          "rules": [
            {
              "value2": "positive_reply",
              "output": 0
            }
          ]
        }
      },
      "name": "Event Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_OR_DISCORD_WEBHOOK_URL_HERE",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=🔥 *Hot Lead Alert!*\n*Lead:* {{ $json.body.payload.lead_name }} ({{ $json.body.payload.lead_email }})\n*Sentiment:* {{ $json.body.payload.sentiment }}\n\n*Message:*\n> {{ $json.body.payload.message_body }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Send Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        700,
        280
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Event Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Router": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
